<br/><h1 class="text-center text-white">Welcome to the arena !</h1><br/>

<%= simple_form_for Fight.new, url: fights_path do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div id="first_character_picture_id" class="text-center"></div>
        <%= f.label :first_character_id, 'First character', class: "form-check-label text-white" %>
        <%= f.collection_select :first_character_id, Character.all, :id, :name, prompt: true %>
        <br/>
      </div>
      <div class="col-sm">
        <div id="second_character_picture_id" class="text-center"></div>
        <%= f.label :second_character_id, 'Second character', class: "form-check-label text-white" %>
        <%= f.collection_select :second_character_id, Character.all, :id, :name, prompt: true %>
        <br/>
      </div>
    </div>
    <br/>
    <div class="text-center">
      <%= f.submit 'Ready? Fight!', class: 'btn btn-primary' %>
    </div>

  </div>
<% end %>





<script type="text/javascript">
  $("select").addClass("form-control");

  // when first character has been selected, its picture shows up
  $("#fight_first_character_id").change(function() {
    if($(this).val() != ''){ $.get( "/first_character_picture", { id: $(this).val() } ); }
  });

  // when second character has been selected, its picture shows up
  $("#fight_second_character_id").change(function() {
    if($(this).val() != ''){ $.get( "/second_character_picture", { id: $(this).val() } ); }
  });


  $("#new_fight").submit(function(event) {
    // when a character try to fight himself, the fight is cancelled
    if($("#fight_first_character_id").val() == $("#fight_second_character_id").val()){
      alert("A character can't fight against himself.");
      event.preventDefault();
    }

    // when characters are ready to fight, shake their pictures to simulate a real fight
    $("#first_character_picture_id").shake();
    $("#second_character_picture_id").shake();
  });


  // shake function to shake characters pictures when fighting
  // has been copied from here -> http://jsfiddle.net/st15jap/JppPG/427/
  // wanted to use jQueryUI effect/shake method but have had a hard time to include it
  jQuery.fn.shake = function() {
    this.each(function(i) {
        $(this).css({ "position" : "relative" });
        for (var x = 1; x <= 9; x++) {
            $(this).animate({ left: -25 }, 10).animate({ left: 0 }, 50)
            .animate({ left: 25 }, 10).animate({ left: 0 }, 50);
        }
    });
  }

</script>
