<h1> Welcome to the arena </h1>


<%= simple_form_for Fight.new, url: fights_path do |f| %>

  <%= f.label :first_character_id, 'First character', class: "form-check-label" %>
  <%= f.collection_select :first_character_id, Character.all, :id, :name %>

  <%= f.label :second_character_id, 'Second character', class: "form-check-label" %>
  <%= f.collection_select :second_character_id, Character.all, :id, :name %>

  <%= f.submit 'Fight', class: 'btn btn-primary' %>
<% end %>

<script type="text/javascript">
  $("select").addClass("form-control");
</script>
