<br/><h5>Create your character</h5><br/>

<%= simple_form_for @character, url: characters_path do |f| %>
  <%= f.input :name, label: false, placeholder: 'Name', input_html: { class: 'form-control' } %>
  <%= f.input :life_score, label: false, placeholder: 'Life score', input_html: { class: 'form-control' } %>
  <%= f.input :attack_score, label: false, placeholder: 'Attack score', input_html: { class: 'form-control' } %>
  <%= f.submit "Create", class: 'btn btn-primary' %>
<% end %>
