<br/><h5 class="text-white">Details about the character <%= @character.name %></h5><br/>


<div class="table-responsive-sm">
  <table class="table table-sm table-borderless text-white text-center">
    <tr>
      <td>
        <% if @character.picture.present? %>
          <%= image_tag @character.picture, size: "200x200", class: 'img-fluid img-thumbnail rounded' %>
        <% else %>
          <%= image_tag 'default-picture', size: "200x200", class: 'img-fluid img-thumbnail rounded' %>
        <% end %>
      </td>
    </tr>
    <tr><td><p>Name : <%= @character.name %></p></td></tr>
    <tr><td><p>Life score : <%= @character.life_score %></p></td></tr>
    <tr><td><p>Attack score : <%= @character.attack_score %></p></td></tr>
    <tr><td><p>Won fights : <%= @won_fights_count %></p></td></tr>
  </table>
</div>
